{% macro render_errors(errors) %}
  {% if errors %}
  <ul class="text-sm text-red-600">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
  </ul>
  {% endif %}
{% endmacro %}

{% macro render_field_list(field) %}
  <ul class="grid md:grid-cols-3 gap-3">
    {% for subfield in field %}
    <li class="relative">{{ render_field_text(subfield, index=loop.index) }}</li>
    {% endfor %}
  </ul>
  {{ render_errors(field.errors) }}
{% endmacro %}


{% macro render_field_checkbox(field) %}
  <div class="flex items-center">
    {{ field(class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2 ", **kwargs)|safe }}
    {% if field.widget.input_type != 'hidden' %}
      <dt class="ml-2 text-sm font-medium text-gray-900">{{ field.label }}</dt>
    {% endif %}
  </div>
  {{ render_errors(field.errors) }}
{% endmacro %}

{% macro render_field_text(field, index) %}
  {{ field(placeholder=" ", class="block pb-2.5 mt-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer", **kwargs)|safe }}
  {{ render_errors(field.errors) }}
  {% if field.widget.input_type != 'hidden' %}
    <dt class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:left-0 peer-focus:text-blue-600  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">{{ field.label }} {% if index %} {{ index }} {% endif %}</dt>
  {% endif %}
{% endmacro %}

{% macro render_fields(form) %}
<dl class="flex flex-col gap-5 -mb-4">
  {% for field in form %}
  <div class="relative z-0">
    {% if field.type == 'BooleanField' %}
    {{ render_field_checkbox(field) }}
    {% elif field.type == 'FieldList' %}
    {{ render_field_list(field) }}
    {% else %}
    {{ render_field_text(field) }}
    {% endif %}
  </div>
  {% endfor %}
</dl>
{% endmacro %}

{% macro render_form(form, id="", method="post", action="", enctype="", class="flex flex-col p-4 pt-6 md:mt-4 sm:rounded-lg bg-gray-50") %}
<form {% if id %}id="{{ id }}" {% endif %}  method="{{ method }}" {% if action %}action="{{ action }}" {% endif %} {% if enctype %}enctype="{{ enctype }}" {%
  endif %} class="{{ class }}">
  {{ render_fields(form) }}
  {{ caller() }}
</form>
{% endmacro %}

{% macro button_submit(text, form="", class='bg-blue-500 hover:bg-blue-700 disabled:bg-blue-700 text-white font-bold py-2 px-4 rounded') %}
<div>

  <button type="submit" class="{{ class }}" {% if form %}form="{{ form }}" {% endif %} >{{ text
  }}</button>
</div>
{% endmacro %}
