@font-face{
    font-family: 'Open Sans';
    src: url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
}
@font-face{
    font-family: 'PT Sans';
    src: url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700');
}

body {
    margin: 0px;
    padding-top: 4rem;
    width: 100%;
    height: 100%;
    background: linear-gradient(#A8D0E6,#3f4b7a);
    background-attachment: fixed;
    text-align: center;
    font-family: 'Open-Sans', sans-serif;
    color: #24305E;
  }

.main-content {
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
}

.redirect-button {
    margin-top: 4rem;
    font-family: 'Open-Sans', sans-serif;
    color: #A8D0E6 ;
    background-color:  #24305E;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    height: 2rem;
    width: fit-content;
    text-decoration: none;
    display: flex;
    align-items: center;
}

.redirect-button:hover {
    background-color: #374785;
    scale: 1.05;
}

.error-title {
    margin-bottom: 3rem;
    margin-top: 0px;
    font-size: 6rem;
    color: #24305E;
    font-family: 'PT Sans', sans-serif;
}