body {
    width: 100%;
    background: linear-gradient(#A8D0E6,#24305E);
    background-attachment: fixed;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: auto;
  }

header {
    color: #24305E;
    font-family: 'PT Sans', sans-serif;
}

button {
    margin-top: 50px;
    color: #A8D0E6 ;
    background-color:  #24305E;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 5px;
    border: none;
    font-family: 'Playfair Display', serif;
}

#errorTitulo {
    font-size: 100px;
}