<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/layout.css') }}" />
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="layout-body">
    <nav class="layout-nav">
        
        <div class="logo">
            <a class="logo" href="/">
                Grupo27
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
            </label>
        </div>
        
        <div class="nav-links">
            <a href="/">Home</a>
            <a href="/401">401</a>
            <a href="/403">403</a>
            <a href="/404">404</a>
            <a href="/500">500</a>
        </div>

        <input type="checkbox" id="nav-check">
    </nav>
    
    <main class="layout-main">
    {% block main %}
        
    {% endblock %}
    </main>

    <footer class="layout-footer">

    </footer>
</body>

</html>