{% extends "layout.html" %}
{% import "_components/form.html" as Form %}
{% block head %}
{{ super() }} {% endblock %} {% block title %}Informacion pedido{% endblock %}
{% block main %}
<div class="max-w-7xl mx-auto h-full bg-blue-900 p-6 shadow">
    <h2 class="text-2xl text-white mb-4">Informacion del Pedido</h2>
    <section class="mb-12 ">
        <div class="p-4 pt-6 md:mt-4 sm:rounded-lg bg-gray-50">
            <p><strong>Titulo:</strong> {{ service_request.title }}</p>
            <p><strong>Descripcion:</strong> {{ service_request.description }}</p>
            <p><strong>Estado:</strong> {{ service_request.status.value }}</p>
            <p><strong>Usuario del pedido:</strong> {{ service_request.user.username }}</p>
            <p><strong>Nombre de servicio:</strong> {{ service_request.service.name }}</p>
            <p><strong>Fecha de Creacion:</strong> {{ service_request.creation_date }}</p>
            <p><strong>Fecha de Cierre:</strong> {{ service_request.close_date }}</p>
        </div>
    </section>
    <h2 class="text-2xl text-white mb-4">Notas</h2>
    <section class="mb-12 ">
        <ul class="rounded flex flex-col gap-4 overflow-hidden shadow-lg p-4 pt-6 bg-white mt-6">
            {% for note in notes %}
                <div >
                    <p><strong>Nota:</strong> {{ note.note }}</p>
                    <p class="text-sm text-gray-500">Autor: {{ note.author.username }}</p>
                </div>
            {% endfor %}
            {% if service_requests|length == 0 %}
                <div class="bg-white dark:border-gray-700">
                        No se encontraron resultados
                </div>
            {% endif %}
        </ul>
    </section>
    </div>
{% endblock %}
